<h1>Pags#pag2</h1>
<p>Find me in app/views/pags/pag2.html.erb</p>
<%=image_tag'TuPadreGoku.jpg'%>
<img src="<%=asset_path 'https://s-media-cache-ak0.pinimg.com/564x/99/a2/cb/99a2cbc67a12c2e6d34097c858f7b771.jpg' %>">